<mat-card>
<mat-toolbar color="accent" >
  
  <!-- Left menu book link -->
  <a 
   routerLink="/"
   mat-icon-button class="example-icon" 
   aria-label="Example icon-button with menu icon">
   <mat-icon>menu_book</mat-icon>
  </a>

  <!-- Left title link -->
  <span>Examportal</span>
  <span class="example-spacer"></span>


  <!-- Right Login link -->
  <!-- <a 
   *ngIf="!isLoggedIn"
   [routerLink]="'/login'"
   mat-icon-button class="example-icon favorite-icon fs15 " 
   aria-label="Example icon-button with heart icon">
   <p>Login</p>
  </a> -->

  <button class="sbtn" mat-button  *ngIf="!isLoggedIn"
  [routerLink]="'/login'">    
 <mat-icon>login</mat-icon>
  <span> Login  </span> 
 </button>


  
  <!-- Right Register link -->
  <!-- <a 
  *ngIf="!isLoggedIn"
  [routerLink]="'/signup'"
  mat-icon-button class="example-icon favorite-icon fs15 mr20 " 
  aria-label="Example icon-button with heart icon">
  <p>Register</p>
 </a> -->

 <button class="sbtn" mat-button  *ngIf="!isLoggedIn"
 [routerLink]="'/signup'">    
  <mat-icon>person_add</mat-icon>
  <!-- <i class="fa-solid fa-user-plus"></i> -->
  <span> Register  </span> 
 </button>


  <!-- Right Logout link -->
  <!-- <a 
  *ngIf="isLoggedIn"
  (click)="logout()"
  mat-icon-button class="example-icon favorite-icon fs15 mr20 " 
  aria-label="Example icon-button with heart icon">
  <p>Logout</p>
 </a> -->

 <button class="sbtn" mat-button  *ngIf="isLoggedIn"
 (click)="logout()">    
 <mat-icon>power_settings_new</mat-icon>
  <span> Logout  </span> 
 </button>

 

   <!-- Right user Detail link -->
   <!-- <a 
   *ngIf="isLoggedIn"
   routerLink="/admin/profile"
   mat-icon-button class="example-icon favorite-icon fs15 mr50 " 
   aria-label="Example icon-button with heart icon">
   <p>{{ user.userName }}</p>
  </a> -->

  <button class="sbtn" mat-button *ngIf="isLoggedIn"
  routerLink="/admin/profile"> 
  <mat-icon>account_circle </mat-icon>
  <span> {{ user.userName }} </span> 
 </button>



 

   
 

</mat-toolbar>
</mat-card>